<?php 
/*
 * This file is the actual HTML output of the PHPGenie_StarterModule_Block_MyBlock class
 * It has access to all the public methods within the MyBlock.php file.
 * 
 * This can be used within another design file:
 * $this->getLayout()->createBlock('phpgenie_startermodule/myblock');
 * 
 * Or within a WYSIWYG Editor:
 * {{block type="phpgenie_startermodule/myblock" }}
 */
?>
<div class="myblock">
    
</div>
